@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  @apply w-full top-0 fixed bg-cover bg-center bg-[url("/header/header_bg.jpg")]
    before:absolute -z-50 before:-z-50 before:inset-0 before:bg-gradient-to-b before:from-[#fffef2E6] before:to-[#edecb3F2];
}

.nav {
  @apply font-serif flex justify-center p-4 space-x-16 sticky top-0 mt-56 text-vogler-green bg-vogler-yellow;
}
.nav a {
  @apply hover:text-vogler-orange text-lg tracking-wide hover:ease-linear duration-150 relative;
}

h1 {
  @apply text-3xl font-serif;
}

h2 {
  @apply text-lg font-serif mb-2;
}

h3 {
  @apply font-sans uppercase mb-6;
}

label {
  @apply block font-serif text-vogler-green;
}

input[type="text"],
input[type="date"],
input[type="password"],
select,
.form-group textarea {
  @apply rounded border border-gray-300 py-2 focus:border-vogler-green;
}

select {
  @apply py-2 pl-4 rounded-md;
}

input::placeholder {
  @apply text-gray-300;
}

.form-group {
  @apply flex flex-col gap-2 w-full mb-6;
}

th,
td {
  @apply text-left py-3 pr-3;
}

th {
  @apply uppercase font-normal;
}

thead > tr {
  @apply border-b border-vogler-green;
}
tbody > tr:first-child td {
  @apply pt-8;
}

.box {
  @apply bg-vogler-yellow2 text-vogler-green rounded px-7 py-5;
}

.nav .box {
  @apply bg-vogler-yellow text-vogler-orange drop-shadow-md py-6 px-8;
}

.button {
  @apply bg-vogler-green text-vogler-yellow rounded px-6 py-2 my-4 block font-serif uppercase transition-all hover:bg-vogler-orange tracking-wide;
}

nav a::after {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 90%;
  height: 5px;
  background: rgba(0, 0, 0, 0.1);
  content: "";
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(10px);
}

nav a:not(.no-hover):hover::after,
nav a:not(.no-hover):focus::after {
  opacity: 1;
  transform: translateY(0px);
}

.__react_component_tooltip {
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-out !important;
  opacity: 0 !important;
  visibility: visible;
}

.__react_component_tooltip.show {
  visibility: visible;
  opacity: 1 !important;
}

/*****************
    SIDEBAR
******************/

.cart-overlay {
  opacity: 0 !important;
}

.cartbox-sidebar {
  position: fixed;
  height: 100vh;
  width: 25%;
  min-width: 25rem;
  padding: 2rem;
  background-color: theme("colors.vogler-yellow");
  /* color: #fffef2; */
  border-left: 10px solid theme("colors.vogler-orange");
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  transition: all 200ms ease-in-out;
  /* transform: translateX(105%); */
  box-shadow: -3px 1px 8px 0px rgb(0 0 0 / 30%);
  -webkit-box-shadow: -3px 1px 8px 0px rgb(0 0 0 / 30%);
  -moz-box-shadow: -3px 1px 8px 0px rgba(0, 0, 0, 0.3);
}

/* NO POPPER CONSOLE WARNING */
#tippy-1 {
  margin: 0;
}
